body{
    background-color: khaki;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

div {
    background-color: darkkhaki;
    border: 3px solid darkgoldenrod;
    width: 60%;
    display: flex;
    padding: 30px;
}

img {
    border: 3px solid darkgoldenrod;
    width: 15%;
    text-align: right;
}

h2 {
    width: 20%;
}

